.container{
    width:600px;
    margin: 40px auto;
}
.user-container{
    width:600px;
    margin: 40px auto;
}
.card{
    box-shadow: 0 0 6px #ccc;
    padding: 12px;
    border-radius: 18px;
    
}
.card-img{
    width: 100%;

}
input{
    border: 1px solid;
    border-radius: 10px;
    padding: 16px;
}
/* input:focus{
    outline: none;
    border: 3px solid blue;
 } */
 .btn{
    padding: 18px 30px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;

 }
 .user-card{
    box-shadow: 0 0 6px #ccc;
    padding: 12px;
    border-radius: 18px;
 }
 .user-card h4{
    margin: 0;
 }
 .user-card p{
    color: gray;
    margin: 0;
 }
 .d-none{
    display: none;
 }
 .danger{
    color:red;
 }